html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}

body {
    font-size: 62.5%;
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

strong {
    font-weight: bold;
}

input {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

////////////////////////////////////////////////////////////////

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Raleway';
}

.wrapper {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 749px 3015px 344px;
}

.mashhead,
.content,
.footer {
    display: inline-grid;
    grid-template-columns: 1fr 1170px 1fr;
    //grid-template-rows: 749px 3015px 1093px;
}

.logo {
    .logo__image {
        height: 100%;
        width: 100%;
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .header__logo {
        height: 22px;
        width: 188px;
    }

    .header__menu {
        width: 589px;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .menu__link {
            font-size: 13pt;
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
        }
    }
}

.mashhead {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    display: inline-grid;
    grid-template-rows: 100px 649px;

    .mashhead__header {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .mashhead__container {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .mashhead__title {
            font-size: 65pt;
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
            text-align: center;
        }

        .mashhead__desctiption {
            font-size: 22pt;
            font-weight: 400;
            color: #ffffff;
            text-align: center;
            margin-top: 42px;
            margin-bottom: 77px;
        }

        .mashhead__btn-fom {
            background-color: #e84545;
            height: 46px;
            width: 200px;
            font-size: 13pt;
            font-weight: 700;
            color: #ffffff;
            text-align: center;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            cursor: pointer;
        }
    }
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 187px;

    .feature__title {
        font-size: 14pt;
        color: #2d3033;
        font-weight: 700;
        text-align: center;
    }

    .feature__decsription {
        font-size: 14pt;
        color: #6c7279;
        font-weight: 400;
        text-align: center;
    }
}

.teammate {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    .timmate__title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 60px;

        .teammate__fio {
            font-size: 22pt;
            font-weight: 400;
            color: #2d3033;
        }

        .teammate__specialty {
            font-size: 13pt;
            font-weight: 400;
            color: #e84545;
            text-transform: uppercase;
        }
    }

    .teammate__description {
        font-size: 14pt;
        font-weight: 400;
        color: #6c7279;
    }

    .teammate__links {
        display: inline-grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        column-gap: 4px;

        .teammate__link {
            height: 40px;
            width: 40px;

            border-style: solid;
            border-color: #e8ecee;
            border-width: 1px;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.client {
    height: 100%;
    width: 100%;
    background-color: #53354a;

    display: inline-grid;
    grid-template-columns: 1fr repeat(2, 585px) 1fr;
    grid-template-rows: 1fr;

    .client__photo {
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;

        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .client__description {
        height: 100%;
        width: 100%;
        padding-left: 85px;

        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .client__feadback {
            font-size: 36pt;
            font-style: italic;
            font-weight: 400;
            font-family: 'Cardo';
            color: #ffffff;
        }

        .client__name {
            font-size: 13pt;
            font-weight: 700;
            font-family: 'Raleway';
            color: #ffffff;
            text-transform: uppercase;

            margin-top: 40px;
        }
    }
}

.content {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    grid-template-rows: 693px 701px 782px 500px 339px;

    .content__features {
        width: 100%;

        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

        display: inline-grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 75px 30px;
        padding: 123px 0;

        .content__feature {
            position: relative;
            margin: auto;
        }
    }

    .content__works {
        height: 100%;
        width: 100%;

        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;

        display: inline-grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1px;

        .content__work {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .content__team {
        width: 100%;
        padding: 101px 0;

        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;

        display: inline-grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        column-gap: 30px;

        .content__teammate {
            height: 580px;
        }
    }

    .content__clients {
        height: 100%;
        width: 100%;

        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;

        .content__client {
            height: 100%;
            width: 100%;
        }
    }

    .content__download {
        width: 100%;
        padding: 70px 0;

        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .content__text1 {
            font-size: 28pt;
            font-weight: 200;
            color: #2d3033;
        }

        .content__text2 {
            font-size: 13pt;
            font-weight: 700;
            color: #2d3033;
        }

        .content__btn-dh {
            background-color: #e84545;
            height: 46px;
            width: 280px;
            font-size: 13pt;
            font-weight: 700;
            color: #ffffff;
            text-align: center;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            cursor: pointer;
        }
    }
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    

    .item__title {
        font-size: 14pt;
        font-weight: 700;
        color: #ffffff;
        text-transform: uppercase;
    }

    .item__discription {
        font-size: 14pt;
        font-weight: 400;
        color: #ffffff;
    }

    .item__links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .item__link{
        height: 40px;
        width: 40px;
        border-style: solid;
        border-width: 2px;
        border-radius: 3px;
        border-color: #ffffff;

        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: fill;
    }
}

.footer {
    background-color: #3a3e64;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

    //4108-4014=94
    grid-template-rows: repeat(2, 1fr);

    .footer__items {
        width: 100%;
        padding: 71px 0;

        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .footer__item {
            height: 100%;
            width: 100%;
        }
    }

    .footer__footer {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        background-color: #313454;

        p {
            font-size: 14pt;
            font-weight: 400;
            color: #808080;
        }
    }
}